<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->


     <!-- Some variables to change

     :root {
  --cover-text-color:#37501a; this is menu text
  --highlight:#86c440;
  --highlight-contrast:var(--cover-text-color);
  --highlight-inverse:var(--cover-text-color);
  --highlight-inverse-contrast:white;
  --cover-title-and-description-guard-bg-color:rgba(255, 255, 255, 0.6);
  --cover-title-text-shadow:white 0px 0px 7px;
  --sticky-menu-text-color:#9fd067;
  --section-light-text-color:#6e5d59;
  --section-light-bg-color:#fffff5;
  --section-dark-text-color:var(--section-light-bg-color);
  --section-dark-bg-color:#b80135;
  --section-uni-quote:grey;
  --section-uni-code-bg-color:#e0ded7;
  --single-page-text-color:var(--section-light-text-color);
  --single-page-bg-color:var(--section-light-bg-color);
  --footer-color-background:#22343a;
  --footer-color:#bbc7cc;
  --ul-li-icon:fa-asterisk
}

-->
<style>
:root {
    /* see variables.scss for more variables*/


    --section-light-text-color:#6e5d59;
    --section-light-bg-color:#fffff5;
    --section-dark-bg-color: #96aa66!important;
    --section-dark-text-color: #fffff5!important;

    --highlight:#bccb85; 
    --cover-text-color:#6e5d59;
    --footer-color-background:#6e5d59;
        


     /* define list element for unnumbered lists, leave empty for default list element */
     /* fa-asterisk is the default icon if this variable definition is missing completely */
     --ul-li-icon: fa-dashcube;     /* this sets fa-dashcube as list icon */
     --ul-li-icon: ;                /* this sets the default html list icon */
}
</style>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

{{ with resources.Get "images/apple-touch-icon.png" }}<link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink }}" />{{ end }}
{{ with resources.Get "images/favicon.svg" }}<link rel="icon" type="image/svg+xml" href="{{ .RelPermalink }}" />{{ end }}
{{ range seq 9 4 }}{{ $size := pow 2 . }}{{ $file := replace "images/favicon-##x##.png" "##" $size }}{{ with resources.Get $file }}
<link rel="icon" type="{{ .MediaType.Type }}" sizes="{{- $size -}}x{{- $size -}}" href="{{ .RelPermalink }}" />{{ end }}{{ end }}

